html {
    /* background: linear-gradient(to bottom right, rgb(2, 54, 133), rgb(37, 175, 255)); */
    background: linear-gradient(to bottom right, rgb(58, 112, 194), rgb(76, 123, 194)); 
    /* background: whitesmoke; */
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100vw;
    min-height: 100vh;
}

h1 { 
    font-size: 420%;
    text-align: left;
    padding-left: 2.54%;
    /* color: rgb(15, 116, 231); */
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    text-transform: capitalize;

    /* line-height: 1.5em; */
    margin: 20px 0 20px; 
    size: 300%;
    padding-bottom: 10px;
    /* text-shadow: 0 0 2px black, 0 0 0px rgb(101, 170, 248), 
                 0 0 0px rgb(101, 170, 248), 0 0 0px rgb(101, 170, 248); */
}

.fa-calendar-check {
    position: absolute;
    right: 4%;
    top: 2%;
}


/* Button design modified from
   https://codepen.io/AllThingsSmitty/pen/WjZVjo */

.reg_round, .add_round {
    position: relative;
  }
  
.reg_round label, 
.add_round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 27.49px;
    height: 27.49px;
    left: 0;
    position: absolute;
    top: 0;
    margin-top: 0.7px;
    cursor: pointer;
}

.add_round label:hover {
    /* background: radial-gradient(rgb(6, 151, 241), rgb(0, 132, 255)); */
    box-shadow: 0 0 6px rgb(101, 170, 248);
}

.reg_round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 4px;
    width: 11px;
    left: 7px;
    top: 10px;
    opacity: 0;
    position: absolute;
    transform: rotate(-45deg);
}

.add_round label:after {
    color: white;
    content: "+";
    left: 6.5px;
    top: -2.5px;
    font-size: 160%;
    position: absolute;
}

.reg_round input[type="checkbox"],
.add_round input[type="checkbox"] {
    visibility: hidden;
}
  
.reg_round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.add_round input[type="checkbox"] + label {
    /* background-color: rgb(15, 116, 231);
    border-color: rgb(15, 116, 231); */
    background-color: rgb(179, 146, 255);
    border-color: rgb(179, 146, 255);
}
  
.reg_round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
  
/* end button code */


.task_text {
    /* background: white; */
    background: rgb(0, 54, 126, 0.582);
    border-radius: 5px;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    
    font-size: 150%;
    /* color: rgb(78, 78, 78); */
    color: white;
    padding-inline-start: 2%;
}

.task {
    display: flex;
    align-content: space-between;
    column-gap: 25pt;
}


#tasks {
    flex-direction: column;
    row-gap: 10pt;
    flex-wrap: wrap;
    align-items: h;
    padding-left: 2.54%;
    padding-right: 2.54%;
    display: flex;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 18pt;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 101%;
    height: 11.5%;
    margin-left: -1.5%;
}

.bottom_button {
    width: 100%;
    font-size: 150%;
    color: rgb(15, 116, 231);
    background: white;
    /* background: rgb(101, 170, 248);
    background: radial-gradient(rgb(54, 147, 253), rgb(17, 105, 206)); */
    border-radius: 5px;
    border: none;
    outline: none;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 60%;
}


#show_uncomplete {
    margin-left: 4%;
}

#clear_complete {
    margin-right: 4%;
}

.bottom_button:hover {
    background: radial-gradient(rgb(0, 114, 185), rgb(0, 60, 255));
    color: white;
}

::placeholder {
    /* color: rgb(78, 78, 78); */
    color: rgb(177, 177, 177);
}