h1 {
    font-size: 420%;
    text-align: left;
    padding-left: 2.5%;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    margin: 20px 0 20px;
    size: 300%;
    padding-bottom: 10px;
}

.fa-calendar-check {
    position: absolute;
    right: 4%;
    top: 2%;
}