/* Button design modified from
   https://codepen.io/AllThingsSmitty/pen/WjZVjo */

.reg_round, .add_round {
    position: relative;
}

.reg_round label,
.add_round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 27.49px;
    height: 27.49px;
    left: 0;
    position: absolute;
    top: 0;
    margin-top: 0.7px;
    cursor: pointer;
}

.add_round label:hover {
    box-shadow: 0 0 6px rgb(101, 170, 248);
}

.reg_round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 4px;
    width: 11px;
    left: 7px;
    top: 10px;
    opacity: 0;
    position: absolute;
    transform: rotate(-45deg);
}

.add_round label:after {
    color: white;
    content: "+";
    left: 6.5px;
    top: -2.5px;
    font-size: 160%;
    position: absolute;
}

.reg_round input[type="checkbox"],
.add_round input[type="checkbox"] {
    /*visibility: hidden;*/
}

.reg_round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.add_round input[type="checkbox"] + label {
    background-color: rgb(179, 146, 255);
    border-color: rgb(179, 146, 255);
}

.reg_round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

/* end button code */


.task_text {
    /* background: white; */
    background: rgb(0, 54, 126, 0.582);
    border-radius: 5px;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;

    font-size: 150%;
    /* color: rgb(78, 78, 78); */
    color: white;
    padding-inline-start: 2%;
}

.task {
    display: flex;
    align-content: space-between;
    column-gap: 25pt;
}