.task_text {
    background: rgb(0, 54, 126, 0.582);
    border-radius: 5px;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;

    font-size: 150%;
    color: white;
    padding-inline-start: 2%;
}

.task {
    display: flex;
    align-content: space-between;
    column-gap: 25pt;
}